<div class="container">
  <!-- Main Content -->
  <div>
    <div class="main-content">
      <!-- Movie Image Section -->
      <div class="movie-image-container">
        <img
          [src]="getImageUrl(movie?.poster_path || null)"
          [alt]="movie?.title"
          class="movie-image"
        />
        <div class="wishlist-icon">
          <span>&hearts;</span>
        </div>
      </div>

      <!-- Movie Details Section -->
      <div class="movie-details">
        <h1>{{ movie?.title }}</h1>
        <div class="tag">Genre: {{ getGenresAsString() }}</div>
        <div class="release-date">Release Date: {{ movie?.release_date }}</div>
        <div class="rating">Rating: {{ movie?.vote_average }} / 10</div>
        <div class="price">Budget: {{ movie?.budget | currency }}</div>
        
        <div class="languages">
          <h4>Languages:</h4>
          <p *ngFor="let lang of movie?.spoken_languages">{{ lang.english_name }} ({{ lang.iso_639_1 }})</p>
        </div>

        <div class="production-info">
          <h4>Production Companies:</h4>
          <p *ngFor="let company of movie?.production_companies">{{ company.name }}</p>

          <h4>Production Countries:</h4>
          <p *ngFor="let country of movie?.production_countries">{{ country.name }}</p>
        </div>

        <p class="text">{{ movie?.overview }}</p>

        <!-- Watch Button -->
        <button class="watch-button">Watch Now</button>

        <!-- FAQ Section -->
        <div class="faq">
          <h3>Frequently Asked Questions</h3>
          <p>What is the runtime of the movie? <br> {{ movie?.runtime }} minutes.</p>
          <p>What is the movie's status? <br> {{ movie?.status }}</p>
          <p>Where can I watch it? <br> Visit: <a [href]="movie?.homepage" target="_blank">{{ movie?.homepage }}</a></p>
        </div>
      </div>
    </div>

    <!-- Description Section -->
    <div class="description-section">
      <h2>Description</h2>
      <h4>Plot Summary</h4>
      <p>{{ movie?.overview }}</p>
    </div>
  </div>

  <ng-template #loading>
    <p>Loading movie details...</p>
  </ng-template>
</div>
