<div class="container">
  <!-- Main Content -->
  <div>
    <div class="main-content">
      <!-- Movie Image Section -->
      <div class="movie-image-container">
        <img
          [src]="getImageUrl(movie?.poster_path || null)"
          [alt]="movie?.title"
          class="movie-image"
        />
        <div class="wishlist-icon" title="Add to Wishlist">
          <span>&hearts;</span>
        </div>
      </div>

      <!-- Movie Details Section -->
      <div class="movie-details">
        <!-- Movie Title and Tagline -->
        <h1>{{ movie?.title }}</h1>
        <p class="tagline">{{ movie?.tagline }}</p> 
      
        <!-- Movie Genre, Release Date, Rating, and Budget -->
        <div class="tag">Genre: {{ getGenresAsString() }}</div>
        <div class="release-date">
          <i class="fas fa-calendar-alt"></i> Release Date: {{ movie?.release_date }}
        </div>
        <div class="rating">
          <i class="fas fa-star"></i> Rating: {{ movie?.vote_average }} ({{ movie?.vote_count }} votes)
        </div>
        <div class="price">
          <i class="fas fa-money-bill-wave"></i> Budget: {{ movie?.budget | currency }}
        </div>
      
        <!-- Production Companies and Countries -->
        <div class="production-info">
          <h4><i class="fas fa-globe"></i> Production Countries:</h4>
          <p *ngFor="let country of movie?.production_countries">{{ country.name }}</p>

          <h4><i class="fas fa-building"></i> Production Companies:</h4>
          <p *ngFor="let company of movie?.production_companies">{{ company.name }}</p>
        </div> 
        <!-- Languages Section -->
        <div class="languages">
          <h4><i class="fas fa-language"></i> Languages:</h4>
          <p *ngFor="let lang of movie?.spoken_languages">{{ lang.english_name }} ({{ lang.iso_639_1 }})</p>
        </div>       
      </div>

      <!-- Description Section -->
      <div class="description-section">    
        <h2>Plot Summary</h2>
        <p>{{ movie?.overview }}</p> 
        <!-- Watch Button -->
        <button class="watch-button">
          <i class="fas fa-play"></i> Watch Now
        </button>
        <!-- FAQ Section -->
        <div class="faq">
          <h3>Frequently Asked Questions</h3>
          <p><strong>What is the runtime of the movie?</strong><br>{{ movie?.runtime }} minutes.</p>
          <p><strong>What is the movie's status?</strong><br>{{ movie?.status }}</p>
          <p><strong>Where can I watch it?</strong><br> Visit: <a [href]="movie?.homepage" target="_blank">{{ movie?.homepage }}</a></p>
        </div>
      </div>
    </div>

    <div class="actor-section">
      <h2>Cast</h2>
      <div class="actor-list">
        <div class="actor-item" *ngFor="let person of movieActors" [routerLink]="['/person', person.id]" routerLinkActive="active">
          <div class="actor-poster">
            <img [src]="getImageUrl(person.profile_path)" [alt]="person.name" class="actor-image" />
          </div>
          <div class="actor-title">
            <h4>{{ person.name }}</h4>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>