<div class="categories-container">
    <h1>Movie Categories</h1>
    <div class="categories-grid">
      <div class="category-item">
        <div class="movie-blocks">
          <!-- Replace with dynamic movie data -->
          <div class="movie-block" routerLink="/new" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=129fbf0360a1fae9e797e020c7da349842fd2673-6467438-images-thumbs&n=13" alt="Horror Movie 1" />
            <h2>New</h2>
          </div>
          <div class="movie-block" routerLink="/horror" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=ffeb3090cd86ced0193948aa2071db85-5325302-images-thumbs&n=13" alt="Horror Movie 2" />
            <h2>Horror</h2>
          </div>
          <div class="movie-block" routerLink="/action" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=bf1736b4f43c6bca5daa39d6da49af529a4a8bc7-11392166-images-thumbs&n=13" alt="Horror Movie 3" />
            <h2>Action</h2>
          </div>
        </div>
      </div>
  
      <div class="category-item">
        <div class="movie-blocks">
          <div class="movie-block" routerLink="/popular" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=25cc0809dd85c3443cbb93640002e19522ef2b16-8497242-images-thumbs&n=13" alt="Comedy Movie 1" />
            <h2>Popular</h2>
          </div>
          <div class="movie-block" routerLink="/comedy" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=2a00000192da6b685512386fd2939b3339e8-1675189-fast-images&n=13" alt="Comedy Movie 2" />
            <h2>Comedy</h2>
          </div>
          <div class="movie-block" routerLink="/fantasy" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=8b8eae309d3ce6a338f54673d6ebda824c3cb471-10851151-images-thumbs&n=13" alt="Comedy Movie 3" />
            <h2>Fantasy</h2>
          </div>
        </div>
      </div>
  
      <div class="category-item">
        <div class="movie-blocks">
          <div class="movie-block" routerLink="/upcoming" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=90c1347bbfbd691a583c31502dc43bdb3b1fa435-5887122-images-thumbs&n=13" alt="Action Movie 1" />
            <h2>Upcoming</h2>
          </div>
          <div class="movie-block" routerLink="/animation" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=ed84aca2e921dcc28f05346da527aa9501d44273-6497838-images-thumbs&n=13" alt="Action Movie 2" />
            <h2>Animation</h2>
          </div>
          <div class="movie-block" routerLink="/science-fiction" routerLinkActive="active">
            <img src="https://avatars.mds.yandex.net/i?id=a75d8e1776e2eeab3cd3633081392ff51e4c0ef1-5534042-images-thumbs&n=13" alt="Action Movie 3" />
            <h2>Science Fiction</h2>
          </div>
        </div>
      </div>
    </div>
</div>
