<div class="categories-container">
  <h1>Movie Categories</h1>
  <div class="categories-grid">
    <div class="category-item" *ngFor="let category of categories">
      <div class="movie-blocks">
        <div class="movie-block" [routerLink]="['/', category.slug]" routerLinkActive="active">
          <div class="image-container">
            <img [src]="category.imageUrl" [alt]="category.name" />
            <h2>{{ category.name }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>