<div class="categories-container">
    <h1>Games</h1>
    <div class="categories-grid">
      <div class="category-item">
        <div class="movie-blocks">
          <div class="movie-block" [routerLink]="['/actorgame']" routerLinkActive="active">
            <div class="image-container">
              <img [src]="'https://media.themoviedb.org/t/p/w220_and_h330_face/5h5L1YG5VVTdNGYmJGfI9qU6wEq.jpg'" alt="actorphoto" />
              <h2>Guess the Actor!<p>You have 3 attempts to guess 30 actors from photos and win🎉</p>Let's Try!</h2>
            </div>
          </div>
        </div>
      </div>
  
      <div class="category-item">
        <div class="movie-blocks">
          <div class="movie-block" [routerLink]="['/moviegame']" routerLinkActive="active">
            <div class="image-container">
              <img [src]="'https://media.themoviedb.org/t/p/w250_and_h141_face/P3dkkDkRCd1CU7MT1cs0mGmH1s.jpg'" alt="moviephoto" />
              <h2>Guess the Movie!<p>You have 3 attempts to guess 30 movies by frame and win🎉</p>Let's Try!</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
